flows2.json
[{"id":"25e238a6.795428","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d425f5bb.669788","type":"mqtt in","z":"25e238a6.795428","name":"","topic":"mcs/DZLjsNdR/2pQbxij3FPRW3VVM/+","qos":"2","datatype":"auto","broker":"162d3027.9125c","x":210,"y":140,"wires":[["41b7d727.955bf8"]]},{"id":"2d372f51.3db4b","type":"change","z":"25e238a6.795428","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":280,"wires":[["354cae01.07b102"]]},{"id":"41b7d727.955bf8","type":"csv","z":"25e238a6.795428","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":490,"y":140,"wires":[["2d372f51.3db4b"]]},{"id":"354cae01.07b102","type":"ui_gauge","z":"25e238a6.795428","name":"","group":"ea62b49c.a93868","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":280,"wires":[]},{"id":"162d3027.9125c","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ea62b49c.a93868","type":"ui_group","z":"","name":"Status","tab":"1da81343.4db36d","disp":true,"width":"6","collapse":false},{"id":"1da81343.4db36d","type":"ui_tab","z":"","name":"Tab1","icon":"dashboard","disabled":false,"hidden":false}]