flows1.json
[{"id":"d8c7946d.1e1a98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2ecdb70b.79bde8","type":"inject","z":"d8c7946d.1e1a98","name":"","topic":"","payload":",,25.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["cdc44403.057018"]]},{"id":"3c18c8d2.5daf18","type":"inject","z":"d8c7946d.1e1a98","name":"","topic":"","payload":",,30.4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["cdc44403.057018"]]},{"id":"cdc44403.057018","type":"mqtt out","z":"d8c7946d.1e1a98","name":"","topic":"mcs/DZLjsNdR/2pQbxij3FPRW3VVM/Temperature","qos":"","retain":"","broker":"162d3027.9125c","x":510,"y":180,"wires":[]},{"id":"162d3027.9125c","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]